libclang==18.1.1
wheel==0.45.1
opax==0.2.11
sentry-sdk==2.30.0
grpcio==1.71.0
packaging==25.0
ipykernel==6.29.5
click==8.1.8
copier==9.7.1
pygraphviz==1.14
joblibspark==0.6.0
six==1.17.0
jedi==0.19.2
pytz==2025.2
astunparse==1.6.3
chex==0.1.89
optax==0.2.4
itsdangerous==2.2.0
Werkzeug==3.1.3
wget==3.2
numpy==1.26.4
pip==25.0.1
huggingface-hub==0.31.2
prompt_toolkit==3.0.51
ipympl==0.9.7
parso==0.8.4
tensorboard==2.19.0
fire==0.7.0
absl-py==2.2.2
toolz==1.0.0
mpmath==1.3.0
ptyprocess==0.7.0
python-xlib==0.33
humanfriendly==10.0
psutil==7.0.0
markdown-it-py==3.0.0
jmp==0.0.4
traitlets==5.14.3
keras==3.9.2
widgetsnbextension==4.0.14
wcwidth==0.2.13
typing-inspection==0.4.0
cma==4.2.0
tensorflow_cpu==2.19.0
ipython==9.2.0
pydantic_core==2.33.2
pydantic==2.11.4
flatbuffers==25.2.10
urllib3==2.4.0
funcy==2.0
PyYAML==6.0.2
certifi==2025.4.26
box2d-py==2.3.5
torch==2.7.0
jupyterlab_widgets==3.0.15
comm==0.2.2
onnxruntime==1.22.0
nvidia-cuda-nvrtc-cu12==12.6.77
nvidia-cudnn-cu12==9.5.1.17
matplotlib==3.10.3
tzdata==2025.2
jax-cuda12-plugin==0.4.27
fonttools==4.58.0
joblib==1.5.1
triton==3.3.0
nvidia-cusolver-cu12==11.7.1.2
MarkupSafe==3.0.2
namex==0.0.9
etils==1.12.2
nvidia-cufile-cu12==1.11.1.6
tensorflow-io-gcs-filesystem==0.37.1
jupyter_client==8.6.3
tornado==6.4.2
pandas==2.2.3
seaborn==0.13.2
coloredlogs==15.0.1
mctx==0.0.5
nvidia-cuda-nvcc-cu12==12.8.93
nvidia-cuda-cupti-cu12==12.6.80
nvidia-cublas-cu12==12.6.4.1
nvidia-nvjitlink-cu12==12.6.85
sympy==1.14.0
ipywidgets==8.1.7
contourpy==1.3.2
pathspec==0.12.1
kiwisolver==1.4.8
wasabi==1.1.3
nvidia-cusparse-cu12==12.5.4.2
stack-data==0.6.3
Pygments==2.19.1
nvidia-nvtx-cu12==12.6.77
opt_einsum==3.4.0
setuptools==76.1.0
platformdirs==4.3.7
typing_extensions==4.13.2
idna==3.10
networkx==3.4.2
tensorboard-data-server==0.7.2
dunamai==1.23.1
jinja2-ansible-filters==1.3.2
fsspec==2025.3.2
filelock==3.18.0
cloudpickle==3.1.1
jupyter_core==5.7.2
asttokens==3.0.0
charset-normalizer==3.4.1
swig==4.3.1
Markdown==3.8
wandb==0.20.1
gitdb==4.0.12
GitPython==3.1.44
termcolor==3.1.0
colorama==0.4.6
stable_baselines3==2.4.0
jax-cuda12-pjrt==0.4.27
pyparsing==3.2.3
pygame==2.6.1
ml_dtypes==0.5.1
questionary==2.1.0
pexpect==4.9.0
pynput==1.8.1
matplotlib-inline==0.1.7
gymnasium==1.0.0
plumbum==1.9.0
Flask==3.1.0
smmap==5.0.2
h5py==3.13.0
cycler==0.12.1
pax3==0.5.9
rich==14.0.0
pyzmq==26.4.0
godot_rl==0.8.2
pillow==11.2.1
scipy==1.15.2
requests==2.32.3
evdev==1.9.1
mdurl==0.1.2
optree==0.15.0
nvidia-cusparselt-cu12==0.6.3
python-dateutil==2.9.0.post0
nvidia-cuda-runtime-cu12==12.6.77
decorator==5.2.1
nvidia-nccl-cu12==2.26.2
huggingface-sb3==3.0
gast==0.6.0
debugpy==1.8.14
nvidia-cufft-cu12==11.3.0.4
pure_eval==0.2.3
protobuf==5.29.4
setproctitle==1.3.6
annotated-types==0.7.0
google-pasta==0.2.0
wrapt==1.17.2
nvidia-curand-cu12==10.3.7.77
onnx==1.18.0
tqdm==4.67.1
blinker==1.9.0
jax==0.4.27
Jinja2==3.1.6
nest-asyncio==1.6.0
executing==2.2.0
ipython_pygments_lexers==1.1.1
Farama-Notifications==0.0.4
jaxlib==0.4.27
